.button {
    padding: 6px 20px;
    color: $white;
    cursor: pointer;
    background-color: $black;
    border-radius: 30px;
    margin-top: 1.5rem;
}

.button[data-color='white'] {
    background-color: $white;
    color: $black;
}
