.category_container {
    .filter_container {
        &.hideFilter {
            margin-left: -260px;
        }
        width: 260px;
        transition: margin-left 300ms ease-out;
        position: sticky;
    }

    .category_header {
        h1 {
            font-size: 24px;
            transform: scale(1);
            line-height: 1.3;
            margin-bottom: 0;
            font-weight: 400;
            font-family: Helvetica_normal;
            text-transform: capitalize;
            letter-spacing: inherit;
            transform-origin: left center;
            transition: transform 200ms;
        }

        h1.isScrolled {
            transform: scale(0.7);
        }

        .sortBy_container{
            z-index: 2;
            .dropdown_wrapper{

                padding-bottom: 15px;
                padding-right: 28px;
                padding-top: 24px;
                border-radius: 0px 0px 0px 20px;
                > button{
                    text-align: right;
                    white-space: nowrap;
                    width: 100%;
                    display: block;
                    padding-left: 15px;
                    line-height: 28px;
                    padding-left: 24px;
                }
            }
        }

        
    }

    .filter_wrapper {
        width: 240px;
    }

    .products_container {
        padding-left: 40px;
        padding-right: 48px;

        .product_card {
            cursor: pointer;
        }

        .product_meta {
            padding: 12px 0 2px 0;
            min-height: 185px;

            .product_category_name {
                color: $graylink;
                padding-bottom: 10px;
            }
        }
    }
}
